<!-- Сообщаем браузеру, как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываю язык содержимого -->
<html lang="ru">
<!-- Контейнер для других важных данных (не отображается) -->

<head>
    <%- include("header/head.ejs") %>
        <link rel="stylesheet" href="/discussions.css"> <!-- ~ Подключение основных стилей -->
</head>
<!-- Отображаемое тело страницы -->

<body>
    <div class="wrapper">
        <!-- Кнопка наверх -->
        <div class="button__up">
            <a href="#">
                <img src="/up-arrow.png" width="30" height="30" alt="Кнопка наверх">
            </a>
        </div>
        <!-- Шапка сайта -->

		<%- include("header/header.ejs")  %>   <!--* Подключение шапки -->
		
        <main class="main">
			<!-- Секция линия навигации -->
			<%- include("header/way.ejs") %>   <!--* Подключение пути -->

			<!-- Секция обсуждений -->
			<% let {author, date, theme, discription} = discussions %>   <!-- ^ Если не пустой запускаю цикл -->
			<section class="section discussions__section">
				<div class="discussions__topic">
					<div class="discussions__header">
						<span><%= theme %></span>
						<div class="discussions__date">
							<%= date %>
						</div>
					</div>
					<div class="discussions__content">
						<div class="discussions__image">
							<img src="/b-1.png" width="100" height="100" alt="Фото профиля">
							<p><%= author %></p>
						</div>
						<div class="discussions__description">
							<%= discription %>
						</div>
					</div>
				</div>
			</section>
			
			<% if(user_disc.length){ %>   <!-- ^ Проверяю длину массива с обсуждениями -->

				<% user_disc.forEach(({id, date, user_name, comment}) => { %>   <!-- ^ Если не пустой запускаю цикл -->
				
					<section class="section discussions__section">
						<div class="discussions__topic">
							<div class="discussions__head">
								<div class="discussions__title">
									№<%= id %>
								</div>
								<div class="discussions__time">
									<%= date %>
								</div>
							</div>
							<div class="discussions__contentt">
								<div class="discussions__images">
									<img src="/b-1.png" width="100" height="100" alt="Фото профиля">
									<p class="discussions__nikname"><%= user_name %></p>
								</div>
								<div class="discussions__comment">
									<%= comment %>
								</div>
								<div class="discussions__answer">
									<a href="">Ответить</a>
								</div>
							</div>
						</div>
					</section>

				<% }); %>

				<% } %>
			<section class="section answer__section">
				<div class="answer__window">
					<div class="answer__comment">
						Введите ваш ответ
					</div>
					<form class="answer__forms">
							<textarea placeholder="Введите ваше сообщение" class="answer__input"></textarea>
							<button formnovalidate type="submit" class="answer__button">Отправить</button>
					</form>
				</div>
			</section>
			<!-- <section class="section status__discussions">
				<h1>Тема закрыта/открыта</h1>
			</section> -->
		</main>

		<%- include("footer/footer.ejs") %>
			<!--* Подключение подвала -->
    </div>
</body>

</html>